/* header */
header{
    height: 100vh;
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    color: #fff;
    text-align: center;
}
